.git/
.venv/
venv/
.env
.env.*

__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
.idea/
.vscode/

data/
netbooks/
notebooks/
test/
artifacts/
scripts/
mlflow.db
mlruns/

*.ipynb
*.xlsx
*.xls
*.csv
*.tsv
~$*.xlsx

*.log
tmp/
temp/
